In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("data/movies.csv")
df2 = pd.read_csv("data/archive/action.csv")
df3 = pd.read_csv("data/archive/adventure.csv")
df4 = pd.read_csv("data/archive/animation.csv")
df5 = pd.read_csv("data/archive/biography.csv")
df6 = pd.read_csv("data/archive/crime.csv")
df7 = pd.read_csv("data/archive/family.csv")
df8 = pd.read_csv("data/archive/fantasy.csv")
df9 = pd.read_csv("data/archive/film-noir.csv")
df10 = pd.read_csv("data/archive/history.csv")
df11 = pd.read_csv("data/archive/mystery.csv")
df12 = pd.read_csv("data/archive/romance.csv")
df13 = pd.read_csv("data/archive/scifi.csv")
df14 = pd.read_csv("data/archive/thriller.csv")
df15 = pd.read_csv("data/archive/war.csv")
df16 = pd.read_csv("data/archive/sports.csv")

In [3]:
# Merge df2 through df16 by columns and remove duplicates
df = pd.concat([df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16], ignore_index=True)

In [4]:
len(df['movie_name'].unique())

198362

In [5]:
df[:5]

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt9114286,Black Panther: Wakanda Forever,2022,PG-13,161 min,"Action, Adventure, Drama",6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,/name/nm3363032/,"Letitia Wright, \nLupita Nyong'o, \nDanai Guri...","/name/nm4004793/,/name/nm2143282/,/name/nm1775...",204835.0,NaN
1,tt1630029,Avatar: The Way of Water,2022,PG-13,192 min,"Action, Adventure, Fantasy",7.8,Jake Sully lives with his newfound family form...,James Cameron,/name/nm0000116/,"Sam Worthington, \nZoe Saldana, \nSigourney We...","/name/nm0941777/,/name/nm0757855/,/name/nm0000...",295119.0,NaN
2,tt5884796,Plane,2023,R,107 min,"Action, Thriller",6.5,A pilot finds himself caught in a war zone aft...,Jean-François Richet,/name/nm0724938/,"Gerard Butler, \nMike Colter, \nTony Goldwyn, ...","/name/nm0124930/,/name/nm1591496/,/name/nm0001...",26220.0,NaN
3,tt6710474,Everything Everywhere All at Once,2022,R,139 min,"Action, Adventure, Comedy",8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert",/name/nm3453283/,"Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...","/name/nm3215397/,/name/nm0000706/,/name/nm3513...",327858.0,NaN
4,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN

In [6]:
df['genre'] = df['genre'].str.split(',')

In [7]:
df[:5]

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt9114286,Black Panther: Wakanda Forever,2022,PG-13,161 min,"[Action, Adventure, Drama]",6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,/name/nm3363032/,"Letitia Wright, \nLupita Nyong'o, \nDanai Guri...","/name/nm4004793/,/name/nm2143282/,/name/nm1775...",204835.0,NaN
1,tt1630029,Avatar: The Way of Water,2022,PG-13,192 min,"[Action, Adventure, Fantasy]",7.8,Jake Sully lives with his newfound family form...,James Cameron,/name/nm0000116/,"Sam Worthington, \nZoe Saldana, \nSigourney We...","/name/nm0941777/,/name/nm0757855/,/name/nm0000...",295119.0,NaN
2,tt5884796,Plane,2023,R,107 min,"[Action, Thriller]",6.5,A pilot finds himself caught in a war zone aft...,Jean-François Richet,/name/nm0724938/,"Gerard Butler, \nMike Colter, \nTony Goldwyn, ...","/name/nm0124930/,/name/nm1591496/,/name/nm0001...",26220.0,NaN
3,tt6710474,Everything Everywhere All at Once,2022,R,139 min,"[Action, Adventure, Comedy]",8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert",/name/nm3453283/,"Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...","/name/nm3215397/,/name/nm0000706/,/name/nm3513...",327858.0,NaN
4,tt5433140,Fast X,2023,NaN,NaN,"[Action, Crime, Mystery]",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN

In [8]:
df['star'] = df['star'].str.split('\n')

In [9]:
df[:5]

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt9114286,Black Panther: Wakanda Forever,2022,PG-13,161 min,"[Action, Adventure, Drama]",6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,/name/nm3363032/,"[Letitia Wright, , Lupita Nyong'o, , Danai Gur...","/name/nm4004793/,/name/nm2143282/,/name/nm1775...",204835.0,NaN
1,tt1630029,Avatar: The Way of Water,2022,PG-13,192 min,"[Action, Adventure, Fantasy]",7.8,Jake Sully lives with his newfound family form...,James Cameron,/name/nm0000116/,"[Sam Worthington, , Zoe Saldana, , Sigourney W...","/name/nm0941777/,/name/nm0757855/,/name/nm0000...",295119.0,NaN
2,tt5884796,Plane,2023,R,107 min,"[Action, Thriller]",6.5,A pilot finds himself caught in a war zone aft...,Jean-François Richet,/name/nm0724938/,"[Gerard Butler, , Mike Colter, , Tony Goldwyn,...","/name/nm0124930/,/name/nm1591496/,/name/nm0001...",26220.0,NaN
3,tt6710474,Everything Everywhere All at Once,2022,R,139 min,"[Action, Adventure, Comedy]",8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert",/name/nm3453283/,"[Michelle Yeoh, , Stephanie Hsu, , Jamie Lee C...","/name/nm3215397/,/name/nm0000706/,/name/nm3513...",327858.0,NaN
4,tt5433140,Fast X,2023,NaN,NaN,"[Action, Crime, Mystery]",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"[Vin Diesel, , Jordana Brewster, , Tyrese Gibs...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN

In [10]:
# drop the columns: 'movie_id', 'certificate', 'runtime', 'rating', 'description', 'director_id', 'star_id', 'votes', 'gross(in $)
df.drop(['movie_id', 'certificate', 'runtime', 'rating', 'description', 'director_id', 'star_id', 'votes'], axis=1, inplace=True)

In [11]:
df

,movie_name,year,genre,director,star,gross(in $)
0,Black Panther: Wakanda Forever,2022,"[Action, Adventure, Drama]",Ryan Coogler,"[Letitia Wright, , Lupita Nyong'o, , Danai Gur...",NaN
1,Avatar: The Way of Water,2022,"[Action, Adventure, Fantasy]",James Cameron,"[Sam Worthington, , Zoe Saldana, , Sigourney W...",NaN
2,Plane,2023,"[Action, Thriller]",Jean-François Richet,"[Gerard Butler, , Mike Colter, , Tony Goldwyn,...",NaN
3,Everything Everywhere All at Once,2022,"[Action, Adventure, Comedy]","Dan Kwan, \nDaniel Scheinert","[Michelle Yeoh, , Stephanie Hsu, , Jamie Lee C...",NaN
4,Fast X,2023,"[Action, Crime, Mystery]",Louis Leterrier,"[Vin Diesel, , Jordana Brewster, , Tyrese Gibs...",NaN
...,...,...,...,...,...,...
331613,U-31,2016,"[Drama, Sport]",Kenji Tani,"[Ryôma Baba, , Masakatsu Nemoto, , Seijirô Nak...",NaN
331614,Hurt,2015,"[Action, Comedy, Sport]",Takahiro Horie,"[Gôichi Mine, , Asami Shibuya]",NaN
331615,MudWarz Getting Dirty Vol 04,2013,[Sport],Jeff William Lacroix,NaN,NaN
331616,Technical Knockout,NaN,[Sport],Alexander Cooper,NaN,NaN
331617,Jack's Mettle,NaN,"[Family, History, Sport]",NaN,NaN,NaN

In [12]:
df.drop(['gross(in $)'], axis=1, inplace=True)

In [13]:
df

,movie_name,year,genre,director,star
0,Black Panther: Wakanda Forever,2022,"[Action, Adventure, Drama]",Ryan Coogler,"[Letitia Wright, , Lupita Nyong'o, , Danai Gur..."
1,Avatar: The Way of Water,2022,"[Action, Adventure, Fantasy]",James Cameron,"[Sam Worthington, , Zoe Saldana, , Sigourney W..."
2,Plane,2023,"[Action, Thriller]",Jean-François Richet,"[Gerard Butler, , Mike Colter, , Tony Goldwyn,..."
3,Everything Everywhere All at Once,2022,"[Action, Adventure, Comedy]","Dan Kwan, \nDaniel Scheinert","[Michelle Yeoh, , Stephanie Hsu, , Jamie Lee C..."
4,Fast X,2023,"[Action, Crime, Mystery]",Louis Leterrier,"[Vin Diesel, , Jordana Brewster, , Tyrese Gibs..."
...,...,...,...,...,...
331613,U-31,2016,"[Drama, Sport]",Kenji Tani,"[Ryôma Baba, , Masakatsu Nemoto, , Seijirô Nak..."
331614,Hurt,2015,"[Action, Comedy, Sport]",Takahiro Horie,"[Gôichi Mine, , Asami Shibuya]"
331615,MudWarz Getting Dirty Vol 04,2013,[Sport],Jeff William Lacroix,NaN
331616,Technical Knockout,NaN,[Sport],Alexander Cooper,NaN
331617,Jack's Mettle,NaN,"[Family, History, Sport]",NaN,NaN

In [14]:
df1

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [15]:
# only keep rows with unique movie_name in df
df = df.drop_duplicates(subset='movie_name', keep='first')

In [16]:
df

,movie_name,year,genre,director,star
0,Black Panther: Wakanda Forever,2022,"[Action, Adventure, Drama]",Ryan Coogler,"[Letitia Wright, , Lupita Nyong'o, , Danai Gur..."
1,Avatar: The Way of Water,2022,"[Action, Adventure, Fantasy]",James Cameron,"[Sam Worthington, , Zoe Saldana, , Sigourney W..."
2,Plane,2023,"[Action, Thriller]",Jean-François Richet,"[Gerard Butler, , Mike Colter, , Tony Goldwyn,..."
3,Everything Everywhere All at Once,2022,"[Action, Adventure, Comedy]","Dan Kwan, \nDaniel Scheinert","[Michelle Yeoh, , Stephanie Hsu, , Jamie Lee C..."
4,Fast X,2023,"[Action, Crime, Mystery]",Louis Leterrier,"[Vin Diesel, , Jordana Brewster, , Tyrese Gibs..."
...,...,...,...,...,...
331609,Squadra Corse,2014,[Sport],"Andrea Griva, \nMattia Napoli, \nGiulio Pedret...",NaN
331612,Matter of Hearts,NaN,[Sport],Kensley Keys,NaN
331613,U-31,2016,"[Drama, Sport]",Kenji Tani,"[Ryôma Baba, , Masakatsu Nemoto, , Seijirô Nak..."
331615,MudWarz Getting Dirty Vol 04,2013,[Sport],Jeff William Lacroix,NaN
331616,Technical Knockout,NaN,[Sport],Alexander Cooper,NaN

In [17]:
# get number of rows where movie_name is na/nan or ""
df['movie_name'].isna().sum()

1

In [18]:
# drop rows where movie_name is na/nan or ""
df = df.dropna(subset=['movie_name'])

In [19]:
df['movie_name'].isna().sum()

0

In [20]:
df.to_csv('data/movies2.csv', index=False)

In [21]:
df

,movie_name,year,genre,director,star
0,Black Panther: Wakanda Forever,2022,"[Action, Adventure, Drama]",Ryan Coogler,"[Letitia Wright, , Lupita Nyong'o, , Danai Gur..."
1,Avatar: The Way of Water,2022,"[Action, Adventure, Fantasy]",James Cameron,"[Sam Worthington, , Zoe Saldana, , Sigourney W..."
2,Plane,2023,"[Action, Thriller]",Jean-François Richet,"[Gerard Butler, , Mike Colter, , Tony Goldwyn,..."
3,Everything Everywhere All at Once,2022,"[Action, Adventure, Comedy]","Dan Kwan, \nDaniel Scheinert","[Michelle Yeoh, , Stephanie Hsu, , Jamie Lee C..."
4,Fast X,2023,"[Action, Crime, Mystery]",Louis Leterrier,"[Vin Diesel, , Jordana Brewster, , Tyrese Gibs..."
...,...,...,...,...,...
331609,Squadra Corse,2014,[Sport],"Andrea Griva, \nMattia Napoli, \nGiulio Pedret...",NaN
331612,Matter of Hearts,NaN,[Sport],Kensley Keys,NaN
331613,U-31,2016,"[Drama, Sport]",Kenji Tani,"[Ryôma Baba, , Masakatsu Nemoto, , Seijirô Nak..."
331615,MudWarz Getting Dirty Vol 04,2013,[Sport],Jeff William Lacroix,NaN
331616,Technical Knockout,NaN,[Sport],Alexander Cooper,NaN

In [34]:
# capitalize all letters in genre using .loc 
df['genre'] = df['genre'].apply(lambda x: [i.upper() for i in x])

/var/folders/76/w363ly_90ln6pf3txlrc64bw0000gn/T/ipykernel_73903/3590665903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genre'] = df['genre'].apply(lambda x: [i.upper() for i in x])

In [35]:
df

,movie_name,year,genre,director,star
0,Black Panther: Wakanda Forever,2022,"[ACTION, ADVENTURE, DRAMA]",Ryan Coogler,"[Letitia Wright, , Lupita Nyong'o, , Danai Gur..."
1,Avatar: The Way of Water,2022,"[ACTION, ADVENTURE, FANTASY]",James Cameron,"[Sam Worthington, , Zoe Saldana, , Sigourney W..."
2,Plane,2023,"[ACTION, THRILLER]",Jean-François Richet,"[Gerard Butler, , Mike Colter, , Tony Goldwyn,..."
3,Everything Everywhere All at Once,2022,"[ACTION, ADVENTURE, COMEDY]","Dan Kwan, \nDaniel Scheinert","[Michelle Yeoh, , Stephanie Hsu, , Jamie Lee C..."
4,Fast X,2023,"[ACTION, CRIME, MYSTERY]",Louis Leterrier,"[Vin Diesel, , Jordana Brewster, , Tyrese Gibs..."
...,...,...,...,...,...
331609,Squadra Corse,2014,[SPORT],"Andrea Griva, \nMattia Napoli, \nGiulio Pedret...",NaN
331612,Matter of Hearts,NaN,[SPORT],Kensley Keys,NaN
331613,U-31,2016,"[DRAMA, SPORT]",Kenji Tani,"[Ryôma Baba, , Masakatsu Nemoto, , Seijirô Nak..."
331615,MudWarz Getting Dirty Vol 04,2013,[SPORT],Jeff William Lacroix,NaN
331616,Technical Knockout,NaN,[SPORT],Alexander Cooper,NaN

In [36]:
df.to_csv('data/movies2.csv', index=False)